*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}


a{
  text-decoration: none;
  color: black;
}

li{
  list-style: none;
  padding: 15px;
}


/* main */

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}

/* nav */
nav{width: 1140px; display: flex; flex-direction: column; background-color: white;}
.nav>ul{display: flex;}

nav>section:nth-child(1){width: 10%;}
nav>section:nth-child(2){width: 80%;}
nav>section:nth-child(3){width: 10%;}
nav>div{
  flex-direction: row;
}
nav>section{
  justify-content: center;
  align-items: center;
}

/* content */
.content{
  justify-content: space-around;
  width: 1140px;
  height: 927px;
  text-align: center;
  border-top: 2px solid #000000;
}

.graphText{
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-top: 1px solid black;
}

.checklist{
  background-color: white;
}

/* footer */
footer{
  height: 200px;
  background-color: #ccc;
  
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
}

footer>p{
  font-weight: bold;
  margin: 0 16px;
}

footer > article > *{
  font-size: 14px;
}

footer a{
  color: black;
  text-decoration: none;
}

footer span{
  padding: 0 10px;
}