<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mainPage</title>
</head>
<body>
  <h1>KH 온라인 문방구</h1>
  <form action="/order" method="post">
      <table border = 1px>
              <tr>
                  <th colspan="3">주문자 명</th>
              </tr>
              <tr>
                  <td colspan="3">
                      <input style="width: 200px" type="text" name="name">
                  </td>
              </tr>
              <tr>
                  <th>품목</th>
                  <th>가격</th>
                  <th>수량</th>
              </tr>
              <tr>
                  <td>검정 펜</td>
                  <td>500원</td>
                  <td><input style="width: 70px" type="number" name="blackPen" value = "0" mim="0" max="100" size="1"></td>
              </tr>
              <tr>
                  <td>빨간 펜</td>
                  <td>700원</td>
                  <td><input style="width: 70px" type="number" name="redPen" value = "0" mim="0" max="100"></td>
              </tr>
              <tr>
                  <td>파란 펜</td>
                  <td>700원</td>
                  <td><input style="width: 70px" type="number" name="bluePen" value = "0" mim="0" max="100"></td>
              </tr>
              <tr>
                  <td>화이트</td>
                  <td>1000원</td>
                  <td><input style="width: 70px" type="number" name="white" value = "0" mim="0" max="100"></td>
              </tr>
              <tr>
                  <td colspan="3">
                      <button style="margin-left: 50px;">구매</button>
                      <button type="reset">초기화</button>
                  </td>
              </tr>
      </table>
  </form>

</body>
</html>