*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

header ul, nav ul, header, .logomenu, .logomenuicon, .icon, .content, .graphText{ display: flex;}

a{
  text-decoration: none;
  color: black;
}

li{
  list-style: none;
  padding: 15px;
}

main{
  width: 1140px;
  margin: auto;
}

/* header */
header{
  margin: auto;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ccc;
}

.logomenuicon{
  width: 1140px;
}

.logomenu{
  width: 85%;
}
.icon{
  text-align: center;
}

/* 로고 */
#logo{
  display: inline-block;
  font-weight: bold;
  font-size: 30px;
  color: #2DB400; 
}

/* 아이콘 */
.icon{
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 24px;
  
}

/* nav */
nav{
  border-bottom: 2px solid #ccc;
  
}
nav>section:nth-child(1){width: 10%;}
nav>section:nth-child(2){width: 80%;}
nav>section:nth-child(3){width: 10%;}
nav>div{
  flex-direction: row;
}
nav>section{
  justify-content: center;
  align-items: center;
}

/* content */
.content{
  justify-content: space-around;
  background-color: #ccc;
  height: 927px;
  text-align: center;
}

.graphText{
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-top: 1px solid black;
}







/* footer */
footer{
  height: 200px;
  background-color: #ccc;
  
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
}

footer>p{
  font-weight: bold;
  margin: 0 16px;
}

footer > article > *{
  font-size: 14px;
}

footer a{
  color: black;
  text-decoration: none;
}

footer span{
  padding: 0 10px;
}