*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header ul, nav ul{ display: flex;}

a{
  text-decoration: none;
  color: black;
}

li{
  list-style: none;
  padding: 15px;
}

main{
  width: 1140px;
  margin: auto;
}

/* header */
header{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ccc;
}

header>section:nth-child(1){width: 10%;}
header>section:nth-child(2){width: 15%;}
header>section:nth-child(3){width: 55%;}
header>section:nth-child(4){width: 10%;}
header>section:nth-child(5){width: 10%;}

/* 로고 */
header>section:nth-child(2){
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  color: #2DB400; 
}

/* nav */
nav{
  border-bottom: 2px solid #ccc;
  
}
nav>section:nth-child(1){width: 10%;}
nav>section:nth-child(2){width: 80%;}
nav>section:nth-child(3){width: 10%;}
nav>div{
  flex-direction: row;
}
nav>section{
  justify-content: center;
  align-items: center;
}

/* content */
.content{
  display: flex;

  @media screen {
    width 960px;
  }
}
.content div{
  border: 1px solid black;
}
.content>.left{
  flex-direction: row;
  flex: 1.4 1 0%;
  
  font-size: 50px;
}







/* footer */
footer{
  height: 200px;
  background-color: #ccc;
  
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
}

footer>p{
  font-weight: bold;
  margin: 0 16px;
}

footer > article > *{
  font-size: 14px;
}

footer a{
  color: black;
  text-decoration: none;
}

footer span{
  padding: 0 10px;
}